.w3-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-bottom: 60px;
  }
  
  
  .jumbotron{
    
    height: 700px;
    padding-top: 150px;
    background-color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
  }
  
  .trip-type{
      padding: 30px;
  }
  .mat-card{
    background-color: whitesmoke;
  }
  .type{
   
    width: 200px;
    text-align: center;
    height: 200px;
    margin: 0px;
      
  }
  
  mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 80%;
  }
  
  .wrapper {
    overflow: hidden; /* will contain if #first is longer than #second */
    margin-left:100px;
  }
  .first {
    float:left; 
  }
  .second {
  float:left;
  }
  
  .third{
  float:left; 
  margin-left: 40px;
  }
  
  .fourth{
  float:left; 
  margin-left: 40px;
  }
  
  .oferta{
  margin-left: 100px;
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  }
  
  .price {
  color: grey;
  font-size: 22px;
  }
  
  .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  }
  
  .card button:hover {
  opacity: 0.7;
  }
  
  *{
  font-family: 'Times New Roman', Times, serif;
  }
  
  .oferta-noua{
  color:white;
  }
  
  
  .cardList {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
  }
  /* Column Gap */
  .cardList > * {
   box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
   margin-right: 32px;
  }
  
  
  .check{
  float:left;
  width:50%
  }
  
  .username-class{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
  
  .location{
    float:left;
    width:33%;
    overflow:clip !important;
    line-height: 20px !important;
    max-height: 20px;
    font-size: 20px;
    color: rgb(113, 113, 113);
  
  }
  
  mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 100%;
  }
  
   
  
  .date-picker{
    border: 1px solid rgb(221, 221, 221);
      border-radius: 12p;
      padding: 24px;
      box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
      background-color: white;
  }
  
  .card{
    display: block;
    float: left;
    margin-left: 0px;
  }
  
  .row{
    justify-items: left;
    padding:20px;
  }
  
  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }
  
  button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
  
  /* Sortable table demo */
  
  th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
  
  th[sortable].desc:before, th[sortable].asc:before {
    content: '';
    display: block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC') no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
  }
  
  th[sortable].desc:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  
  /* Filtering table demo */
  ngbd-table-filtering span.ngb-highlight {
    background-color: yellow;
  }
  
  /* Complete table demo */
  ngbd-table-complete span.ngb-highlight {
    background-color: yellow;
  }
  
  ngb-carousel .picsum-img-wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
  }
  
  ngb-carousel .picsum-img-wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


  .alert{
    color:red;
  }


  .login_invalid{
    color: red;
  }

  

.star {
  margin: 0px 0px;
  color: #a9a5a5;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
  transform: scale(1);
}

.star
  mat-icon{
    width: 40px;
    height: 40px;
}

.star-gold{
  color: orange;
}


.star-rating-animation:hover .star-hover{
  color: orange;}


.star-rating-animation .star-hover:hover ~ .star-hover{
  color: #ddd;}

.star-rating-animation .star-hover:hover{
  transform: scale(1.3);}
