

.card{
    max-width: 500px;
    display:block;
    max-height: 600px;
    justify-content: center;
    margin:0 auto;
    position:relative;
    float: none; 
    margin-bottom: 10px; 

}

body{
    padding: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tab-content{overflow:auto;}


.login_fail{
    color: red;
}